

body{
    background:black;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
}
h2{
    background: white;
    color:black;
    text-align: center;
}
.textoprevio{
background:white
}
h5{
    color:black;
    text-align: justify;
}
p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}
header{width: 100%;
height: 600px;
background: black;
background-image:url(../img/fondo.png);
background-size: cover;
background-attachment: fixed;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{ 
    color: yellow;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{ 
    color:white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.formulario{
    background-image: url(../img/fondo.png);
    margin-top: 150px;
    padding: 3px;
}
.contenedor{
    width: 100%;
    padding: 15px;
}
input[type="text"],
input[type="password"]{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
.videojuego{
    text-align: center;
    color: white;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-attachment: fixed;
    background: yellow;
    margin-bottom: 20px;
}
.videojuego-img{
    text-align: center;
    color: white;
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-attachment: fixed;
    background: black;
    margin-bottom: 20px;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
.requisitos{
    background: yellow;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: cadetblue;
}
.categorias{
    background-image:url(../img/fondo.png);

    background: black;
}
.cat{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-cat{
    width: 24%;
    height: 200px;
    margin-bottom: 10px;
    overflow:hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0.5)
}
.imagen-cat > img{
width:90%;
height: 90%;
object-fit: cover;
display: block;
}
.hover-cat{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 0;
    transform: scale(0);
    background: rgba(255, 255, 0, 0.363);
    transition: transform .5s;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.hover-cat img{
    width: 50px;

}
.hover-cat p{
    color: blanchedalmond;
}
.imagen-cat:hover .hover-cat{
     transform: scale(1);
}
.cards{
display: flex;
justify-content: space-evenly;

}
.cards .card{
    color: black;
    background: white;
    display: flex;
    width: 46%;
    height: 300px;
    align-items: Left;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px o rgba(0, 0, 0 ,0.6);
}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width:60%;
    color: white;
}
.cards .card > .contenido-texto-card h4{
    color: black;
    align-items: center;
    font-weight: 300;
    padding-top: 5px;
}

footer{
    background: black;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}
.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid grey;
}
.contenedor-foo{
    text-align: center;
}
.contenedor-foo h4{ 
    color: white;
    border-bottom: 3px solid yellow;
    padding-bottom:  5px;
    margin-bottom: 10px;
    text-align: center;
} 
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: yellow;
}
@media screen and (max-width:900px){
    header{
        background-position: center;
    }
    .imagen-cat{
        width: 44%;
    }
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cards .card{
        width:55%;
    }
    .cards .card:first-child{
        margin-bottom: 30px;
    }
}
@media screen and  (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }
    nav > a{
        margin-right: 5px;
    }
    .imagen-cat{
        width: 60%;
    }
    .cards .card{
height: 450px;   
display: flex;
flex-direction: column;
align-items: center;
 }
.cards .card img{
    width:90px;
    height: 90px;
}
.contenedor-footer{
    flex-direction: column;
    border: none;

}
.contenedor-foo{
    margin-bottom: 20px;
    text-align: center;
}
.contenedor-foo h4{
    border-bottom: none;}
    .content-foo p{
        color:grey;
        border-bottom: 1px solid grey;
        padding-bottom:20px ;
    }
    .titulo-final{
        font-size: 20px;
    }
}